extends layout

block main
  #host-position
    #cards-remaining
      .card Cards-remaining

  #user-position
    #user-1
      #user-1-cards
    #user-2
      #user-2-cards

block scripts
  script.
    require(['/static/js/game.js'], function (game) { game.start(); });
