!!! 5
head
  title Soha - #{username}
  style(href='/static/css/site.css')
  block styles
body
  #header
    header.inner-header
      p Soha

  #main
    block main

  #footer
    footer.inner-footer
      p Footer
  script(data-main='/static/js/config.js', src='/static/js/require.js')
  block scripts
